# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/.vscode/
/temp/
C:\Python\HENRY-Data-Science\Proyecto_individual_I\Repositorio-proyecto-I\Proy_uno\ETL.ipynb